<!DOCTYPE html>
<html>

<head>
	<title>{{ capitalize title }}</title>
	<link rel="shortcut icon" href="/images/icons/iconfinder_blog_46779.png" type="image/x-icon">
	<link rel="stylesheet" href="/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/css/modified-bootstrap.css"/>
	<link rel="stylesheet" href="/css/all.min.css">
	<link rel="stylesheet" href="/css/fontawesome.min.css">
	<link rel="stylesheet" href="/css/style.css" />
	<script src="/js/jquery-3.5.0.js" defer></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" defer></script>
	<script src="/js/bootstrap.min.js" defer></script>
</head>

<body>
	{{> navbar}}
	{{{body}}}
</body>

</html>